
body {
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  
  h1 {
    color: red;
    font-family: 'Palette Mosaic';
    font-size: 4em;
    
  }
  
  
  p {
    font-family: 'DM Sans';
    font-size: 2em;
  }